[{"scope":"https://api.ideal-postcodes.co.uk:443","method":"GET","path":"/","body":"","status":200,"response":{"result":{"message":"Thanks for trying ideal-postcodes.co.uk. To find out how to use this API please visit https://ideal-postcodes.co.uk/documentation","links":{"website":"https://ideal-postcodes.co.uk","documentation":"https://ideal-postcodes.co.uk/documentation","status_page":"https://status.ideal-postcodes.co.uk","openapi":"https://openapi.ideal-postcodes.dev","developer_chat":"https://chat.ideal-postcodes.co.uk","github":"https://github.com/ideal-postcodes"}},"code":2000,"message":"Success"},"rawHeaders":["Server","nginx/1.14.2","Date","Sat, 08 Jun 2019 07:22:41 GMT","Content-Type","application/json; charset=utf-8","Content-Length","501","Connection","close","Access-Control-Allow-Origin","*","X-Content-Type-Options","nosniff","ETag","W/\"1f5-70t53Zjsz7y+XNW8+NgaEpmVU64\"","Expires","Sat, 08 Jun 2019 07:22:40 GMT","Cache-Control","no-cache"]}]